:root {
	--background: #ffffff;
	--text: #000000;
	--title-text: green;
	--error-text: red;
	--toot-link-color: #096582;
}

@media( xprefers-color-scheme: dark ) {
	:root {
		--background: rgb(69, 69, 69);
		--text: #ffffff;
		--toot-link-color: #FFDB58;
	}
}

body {
	font-family: helvetica;
	background-color: var(--background);
	color: var(--text);
}

.title {
	color: var(--title-text);
	text-align: center;
}

.page {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
}

.account {
	cursor: pointer;
	border: 1px solid grey;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 8px;
}

.header-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-bar.booster {
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
	margin-bottom: 10px
}

.header-bar .avatar {
	width: 40px;
	aspect-ratio: 1;
	border-radius: 50%;
	margin-right: 10px;
}

.account .name {
	font-weight: 600;
	font-size: 18px;
}

.account .toots {
	display: none;
	margin-top: 20px;
}

.account .toots.show,
.toots-list {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.toot {
	border: 1px solid grey;
	padding: 8px 10px;
	border-radius: 4px;
	overflow-x: clip;
}

.toot .content a {
	color: var(--toot-link-color);
}

.toot .media > * {
	width: 100%;
}

.toot .card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	border: 1px solid lightgrey;
	padding: 10px;
	border-radius: 10px;
}

.toot .card img {
	width: 100%;
	margin-bottom: 10px;
}

.toot .card .link {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: var(--text);
}

.toot .timestamp {
	margin-top: 10px;
}

.page .error {
	color: var(--error-text);
}

#bottom-indicator {
	margin-top: 20px;
	text-align: center;
}
