:root {
	--background: #ffffff;
	--text: #000000;
	--title-text: black;
	--error-text: red;
	--toot-link-color: #096582;
	--content-width: 400px;
}

@media( prefers-color-scheme: dark ) {
	:root {
		--background: rgb(69, 69, 69);
		--title-text: white;
		--text: #ffffff;
		--toot-link-color: #FFDB58;
	}
}

body {
	font-family: helvetica;
	background-color: var(--background);
	color: var(--text);
	margin: 0;
	padding: 0;
}


@media only screen and (max-width: 400px) {
	:root {
		--content-width: 100%;
	}

	body {
		padding: 0 10px 0 10px;
	}
}

.header {
	height: 100px;
	width: var(--content-width);
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

.title {
	color: var(--title-text);
	text-align: center;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: var(--content-width);
	margin: 0 auto;
	margin-bottom: 10px;
}

.title button {
	height: 44px;
	padding: 10px;
	box-sizing: border-box;
}

.feed-selector {
	height: 44px;
	text-align: center;
	font-weight: 600;

	width: var(--content-width);
	margin: 0 auto;
}

.page {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
}

.account {
	cursor: pointer;
	border: 1px solid grey;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 8px;
}

.toots-wrapper {
	overflow-y: scroll;
	flex: 1;
}

.header-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-bar.booster {
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
	margin-bottom: 10px
}

.header-bar .avatar {
	width: 40px;
	aspect-ratio: 1;
	border-radius: 50%;
	margin-right: 10px;
}

.header-bar .name {
	cursor: pointer;
}

.account .name {
	font-weight: 600;
	font-size: 18px;
}

.account .toots {
	display: none;
	margin-top: 20px;
}

.account .toots.show,
.toots-list {
	display: flex;
	flex-direction: column;
	gap: 14px;

	max-width: var(--content-width);
	margin: 0 auto;
}

.toot {
	border: 1px solid grey;
	padding: 8px 10px;
	border-radius: 4px;
	overflow-x: clip;
}

.toot .content a {
	color: var(--toot-link-color);
}

.toot .media > * {
	width: 100%;
}

.toot .card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	border: 1px solid lightgrey;
	padding: 10px;
	border-radius: 10px;
}

.toot .card img {
	width: 100%;
	margin-bottom: 10px;
}

.toot .card .link {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: var(--text);
}

.toot .card .video {
	margin-bottom: 10px;
}

.toot .card .video iframe {
	width: 100%;
	height: 100%;
}

.toot .timestamp {
	margin-top: 10px;
}

.toot button.replies {
	margin: 10px 0;
	cursor: pointer;
}

.page .error {
	color: var(--error-text);
}

#bottom-indicator {
	margin-top: 20px;
	text-align: center;
}

.toggle {
	cursor: pointer;
}

.toggle.enabled {
	background: green;
}

.toggleInput {
	display: none;
}
